version: "3.9"

services:
  rag-api:
    build: .
    container_name: rag-main
    ports:
      - "8000:8000"

    
    volumes:
      - ./src:/app/src

   
    environment:
      - PYTHONUNBUFFERED=1
      - ENV=development
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}

    restart: unless-stopped
